body {
	font-family:Serif;
}
p {
text-indent:10px;
padding: 3px;
}
h1,h2,h3 {
	font-family:Serif;

}
div > a {
	display:inline-block;
	padding: 100px;
	padding-left: 100px;
	padding-right: 100px;
	padding-bottom:10px;
}

.article_link {
	text-align: center;
}
.p {
	font-weight: bold;
}

.problem, .robot {
	color:rgb(200,30,30);
}

.goal, .individual {
	color: green;
}

.robot {
font-weight: bold;
}

tr > td:first-child {
	text-align: right;
}

tr > th:first-child {
	text-align: left;
}

tr > th:nth-child(2) {
	text-align:left;
	padding-left: 100px;
}

td {
	padding: 7px;
}
